<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Todo</title>
    <script src="../vue.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="todoList">
        <div class="title">
            <h1>Vue Todo</h1>
            <p>添加任务，管理每日计划</p>
        </div>
        <div class="add">
            <input type="text" placeholder="今天计划完成什么？" v-model="inputValue" @keyup.enter="handleAdd" />
            <button @click="handleAdd">添加任务</button>
        </div>
        <div class="list" v-if="flag">           
            <div>
                <p class="left">任务列表</p>
                <ul class="right">
                    <li @click="handleAll">全部</li>
                    <li @click="handleComplete">已完成</li>
                    <li @click="handleUncomplete">未完成</li>
                </ul>
            </div>
                
            <ul class="all" v-show="all">
                <!-- <li v-for="(item, index) in list" :key="index">
                    {{ item }}
                </li> -->

                <!-- 子组件 -->
                <todo-item
                   
                    v-for="(item, index) in list" 
                    :key="index"
                    :content="item"
                    :index="index"
                    @delete="handleDelete"
                   
                >
                </todo-item>
                <span>共{{list.length}}项任务</span>
            </ul>
            <ul class="complete" v-show="complete">
                <todo-item-complete
                    
                    v-for="(item, index) in completeList" 
                    :key="index"
                    :content="item"
                    :index="index"
                    @delete="handleDelete"
                >
                </todo-item-complete>
                <span>共{{completeList.length}}项任务</span>
            </ul>
            <ul class="uncomplete" v-show="uncomplete">
                <todo-item-uncomplete
                   
                    v-for="(item, index) in list" 
                    :key="index"
                    :content="item"
                    :index="index"
                    @delete="handleDelete"
                >
                </todo-item-uncomplete>
                <span>共{{uncompleteList.length}}项任务</span>
            </ul>
            
                
      
        </div>
    </div>
    <script>
        // import Store from './store'
        //全局组件
        Vue.component('todo-item',{
            props: ['content','index'],//接受子组件属性的内容
            template: '<li class="content">{{content}}<div class="btn"><button @click="handleCompleteClick">标记已完成</button><button @click="handleUncompleteClick">标记未完成</button><button @click="handleClick">删除</button></div></li>',
            methods: {
                handleClick: function() {
                    this.$emit('delete', this.index)
                    // this.$emit('completeAdd',this.index)
                    // this.$emit('uncompleteAdd',this.index)
                },
                handleCompleteClick: function() {
                    this.$emit('completeAdd',this.index)
                },
                handleUncompleteClick: function() {
                    this.$emit('uncompleteAdd',this.index)
                }
            }
        })
        Vue.component('todo-item-complete',{
            props: ['content','index'],
            template: '<li class="content">{{content}}<div class="btn"><button @click="handleCompleteAdd">标记已完成</button><button @click="handleUncompleteAdd">标记未完成</button><button @click="handleClick">删除</button></div></li>',
            methods: {
                handleClick :function() {
                    this.$emit('delete', this.index)
                }
            }
        })
        Vue.component('todo-item-uncomplete',{
            props: ['content','index'],
            template: '<li class="content">{{content}}<div class="btn"><button @click="handleCompleteAdd">标记已完成</button><button @click="handleUncompleteAdd">标记未完成</button><button @click="handleClick">删除</button></div></li>',
            methods: {
                handleClick :function() {
                    this.$emit('delete', this.index)
                }
            }
        })

        //局部组件
        // var TodoList = {
        //      template: '<li></li>'
        // }

        //父组件
        const todoList = new Vue({
            el: '#todoList',

            //使用局部组件要先声明
            // components :{
            //     'todo-item': TodoList
            // },
            
            data: {
                inputValue:'',
                // list: Store.fetch(),
                list: [],
                completeList: [],
                uncompleteList: [],
                all: true,
                complete: false,
                uncomplete: false,
                flag: false
            },
            methods: {
                handleAdd: function() {
                    if(this.inputValue!==''){
                        this.list.push(this.inputValue),
                        this.flag = true
                    }
                    this.inputValue = ''
                    
                },
                handleDelete: function() {
                    this.list.splice('index',1)
                },
                handleAll: function (){
                    this.all = true,
                    this.complete = false,
                    this.uncomplete = false
                },
                handleComplete: function() {
                    this.all = false,
                    this.complete = true,
                    this.uncomplete = false
                },
                handleUncomplete: function() {
                    this.all = false,
                    this.complete = false,
                    this.uncomplete = true
                },
                handleCompleteAdd: function() {
                    
                    this.completeList.push(inputValue)
                },
                handleUncompleteAdd: function() {
                    if(this.inputValue!==''){
                        this.list.push(this.inputValue)
                    }

                },
                


            },
            // watch: {
            //     list: {
            //         handler: function(list) {
            //             Store.save(list)
            //         },
            //         deep: true
            //     }
            // }
        })

    </script>
    
</body>
</html>